fastapi
uvicorn
pydantic
pdfplumber 
python-docx
langchain
langchain-google-genai
google-generativeai
python-dotenv
tavily-python
langchain-tavily
pillow
requests
python-multipart
yt-dlp
bcrypt
PyJWT
